
@font-face {
  font-family: 'marioFont';
  src: url('../depixel/DePixelKlein.ttf');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'marioFont', sans-serif;
}

*::selection{
  background-color: green;
  color: white;
}

body{
  overflow: hidden;
  background-image: url('../imgs/background.jpg');
  background-size: cover;
}

.loginScreen{
  backdrop-filter: brightness(40%) blur(7px);
  height: 100vh;
  width: 100%;
}

.loginScreen form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
  text-align: center;
}

.loginScreen form input{
  background-color: transparent;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  padding: 4px 10px;
  color: white;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginScreen form h1{
  color: white;
}

.loginScreen form button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgb(102, 214, 102);
  font-size: 1.2rem;
  color: white;
  transition: .4s;
}

.loginScreen form button:enabled:hover{
  padding: 7px 15px;
  cursor: pointer;
}

.loginScreen form button:disabled{
  color: red;
  background-color: rgba(45, 10, 10, 0.558);
}