
@font-face {
    font-family: 'marioFont';
    src: url('../depixel/DePixelKlein.ttf');
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'marioFont', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
*::selection{
    background-color: brown;
    color: white;
}
body{
    background-image: url('../imgs/ground.png');
    background-size: 200px;
    background-position: 0px;
    animation: move-ground 2.5s infinite linear;
}

@keyframes move-ground{
    from{
        background-position: 6%;
    }
    to{
        background-position: -117%;
    }
}

.base-jogo{
    width:100%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb,#e0f6ff);
    transition: .4s;
}
.tubo{
    position: absolute;
    width: 80px;
    bottom: 0;
    animation: tubo-andando 2.5s infinite linear ;
}

.base-jogo button{
    background-color: rgba(215, 126, 93, 0.689);
    border: none;
    outline: none;
    position: absolute;
    z-index: 10000;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    top: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.base-jogo button img{
    width: 40px;
    filter: invert(100%);
}

.pauseScreen{
    position: absolute;
    background-color: rgb(84, 39, 39);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    z-index: 10000;
    display: none;
    padding: 30px;
}

.pauseScreen h2{
    color: white;
}

.guides{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    color: white;
    font-size: 1rem;
}

.guides aside{
    width: 100%;
    display: flex;
    gap: 30px;
}

.guides aside p::after{
    content: '';
    display: block;
    background-color: orangered;
    width: 20%;
    height: 1.5px;
    margin-top: 10px;
}

.guides aside img{
    max-width: 100px;
    border-radius: 10px;
}

.guides button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.guides button:hover{
   transform: scale(1.1);

}

.guides button:active{
  filter: drop-shadow(3px 3px black) invert(100%) hue-rotate(180deg);
}

.guides button img{
    width: 100px;
}

.vidas, .pontos{
    color: rgb(251, 255, 0);
    text-shadow: 2px 2px rgb(61, 61, 61);
    font-weight: 800;
    font-size: 1.4rem;
    margin-left: 30px;
}

.vidas{
    margin-top: 30px;
}

.letras.effect{
    color: red;
    font-size: 200px;
}

@keyframes tubo-andando{
    from{
        right: -6%;
    }

    to{
        right: 100%;
    }
}
.mario{
    position: absolute;
    width: 150px;
    bottom: 0px;
    margin-bottom:-20px ;
    z-index: 5;
}

.pulando {
    animation: pulo 750ms  ease;
}
@keyframes pulo{
    0%{
        bottom:0px;
    }

    50%{
        bottom:180px;
    }
    
    100%{
        bottom: 0px;
    }

}

.nuvens{
    width: 550px;
    position: absolute;
    animation: nuvens-andando 20s infinite linear;
}

@keyframes nuvens-andando {
    from{
        right: -600px;
    }

    to{
        right: 100%;
    }
}

.letras {
    position: absolute;
    bottom: 0px; 
    left: 1100px; 
    z-index: 2;
    font-size: 4rem;
    font-weight: bold;
    color: rgb(251, 255, 0);
    transition: .5s;
    opacity: 0;
    text-shadow: 2px 2px 1px gray;
    animation: letter-move 2.5s infinite linear;
}

@keyframes letter-move {
    from{
        left: 70%;
    }
    to{
        left: -40%;
    }
}
.gameover{
    backdrop-filter: brightness(20%) saturate(0%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -100;
    transition: .5s;
    text-align: center;
    flex-direction: column;
}

.gameover h1{
    font-size: 3rem;
    color: white;
    margin-top: 20%;
}

.gameover p{
    font-size: 1.4rem;
    color: white;
}

.gameover h2{
    color: white;
    font-size: 1.4rem;
}


.gameover button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    transition: .4s;
    margin-top: 5px;
    display: none;
}

.gameover button i{
    font-size: 2.3rem;
    color: white;
}

.gameover button:hover{
    transform: rotate(240deg);
}

@media (max-width: 700px){
    .pauseScreen{
        height: 600px;
        width: 400px;
    }
}

@media (max-width: 460px){
    .pauseScreen{
        width: 330px;
        font-size: .8rem;
        padding: 23px;
    }

    .pauseScreen button img{
        width: 70px;
    }

    .pauseScreen .guides{
        font-size: .8rem;
    }
}
