@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Pixelify sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
*::selection{
    background-color: brown;
    color: white;
}
body{
    background-image: url('../imgs/ground.png');
    background-size: 200px;
    background-position: 0px;
    animation: move-ground 2.5s infinite linear;
}

@keyframes move-ground{
    from{
        background-position: 6%;
    }
    to{
        background-position: -117%;
    }
}

.base-jogo{
    width:100%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb,#e0f6ff);
    transition: .4s;
}
.tubo{
    position: absolute;
    width: 80px;
    bottom: 0;
    right: -80;
    animation: tubo-andando 2.5s infinite linear ;
}

.vidas, .pontos{
    color: rgb(255, 255, 0);
    text-shadow: 2px 2px rgb(61, 61, 61);
    font-weight: 800;
    font-size: 1.5rem;
    margin-left: 30px;
}

.vidas{
    margin-top: 30px;
}

.letras.effect{
    color: red;
    font-size: 200px;
}

@keyframes tubo-andando{
    from{
        right: -6%;
    }

    to{
        right: 100%;
    }
}
.mario{
    position: absolute;
    width: 150px;
    bottom: 0px;
    margin-bottom:-20px ;
    z-index: 5;
}

.pulando {
    animation: pulo 750ms  ease;
}
@keyframes pulo{
    0%{
        bottom:0px;
    }

    50%{
        bottom:180px;
    }
    
    100%{
        bottom: 0px;
    }

}

.nuvens{
    width: 550px;
    position: absolute;
    animation: nuvens-andando 20s infinite linear;
}

@keyframes nuvens-andando {
    from{
        right: -600px;
    }

    to{
        right: 100%;
    }
}

.letras {
    position: absolute;
    bottom: 0px; 
    left: 1100px; 
    z-index: 2;
    font-size: 70px;
    font-weight: bold;
    color: rgb(251, 255, 0);
    transition: .5s;
    opacity: 0;
    text-shadow: 2px 2px 1px gray;
}
.gameover{
    backdrop-filter: brightness(20%) saturate(0%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1000;
    transition: .5s;
    text-align: center;
    flex-direction: column;
}

.gameover h1{
    font-size: 3.5rem;
    color: white;
    margin-top: 20%;
}

.gameover p{
    font-size: 1.5rem;
    color: white;
}

.gameover h2{
    color: white;
    font-size: 1.2rem;
}

.gameover button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    transition: .4s;
    margin-top: 5px;
    display: none;
}

.gameover button i{
    font-size: 2.3rem;
    color: white;
}

.gameover button:hover{
    transform: rotate(240deg);
}
